@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&family=Comfortaa:wght@100;200;300;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
}
.header {
    background-color: #1B335B;
    width: 100%;
    height: 50px;
}
.menu {
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.menuu{
    width: fit-content;
}
.menuu > a > input {
    margin: auto 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Comfortaa', sans-serif;
}
.menuu > a > input:hover {
    font-weight: bolder;
}
.login {
    width: 0px;
    position: absolute;
    align-items: center;
    right: 20%;
}
.login > a > input {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 7px 10px;
}
.login > a > input:hover {
    background-color: white;
    color: #1B335B;
}

/* Catalogue */
.content {
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
table {
    width: 100%;
    margin: 0px auto;
    margin: auto 10vh;
    border-collapse: collapse;
}
td {
    border: 2px solid black;
    padding: 10px;
}
caption {
    font-family: 'Lobster', sans-serif;
    font-size: x-large;
    color: #1B335B;
    margin: 20px auto;
}
.tieude {
    text-align: center;
    background-color: #1B335B;
    color: white;
}
.action {
    text-align: center;
}
.noidung {
    width: 97%;
    height: fit-content;
    border: none;
    text-align: left;
    padding: 5px 5px;
}
.bt {
    background-color: #1B335B;
    color: white;
    border-radius: 10px;
    border: 2px solid #1B335B;
    padding: 7px 10px;
    margin: 4px;
}
.bt:hover {
    background-color: white;
    color: #1B335B;
}
image {
    width: 50%;
    margin: 10px;
}
