@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&family=Comfortaa:wght@100;200;300;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
}
.section1 {
    position: relative;
    width: 100%;
    height: 693px;   
}
.bg-img {
    position: relative;
    width: 100%;
    height: 693px;
    background: url("img/pho-co-hoi-an.jpg") center center no-repeat;
    background-size: cover;
}
.bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, #000000, #000000, #000000, #FFFFFF);
    opacity: 0.5;
}
.section1-content > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: 'Lobster', sans-serif; 
    font-size: 100px;
}

.section2 {
    position: relative;
    margin-top: 24px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.section2-content {
    position: relative;
    width: 1225px;
    overflow: hidden;
    margin: 10px 110px;
}
.title, .subtitle {
    color: #1B335B;
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
}
.gioithieu-post, .diadiem-post {
    text-align: left;
    margin-bottom: 24px;
}
.content-post {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 24px 0;
    text-align: justify;
}
.content-img {
    width: 100%;
    height: 100%;
}
.diadiem {
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', sans-serif;
}
.post {
    margin-bottom: 10px;
}
.short-post {
    position: relative;
    border: 1px solid black;
    width: 601px;
    height: 270px;
    margin: 10px 7px 15px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px grey;
    float: left; 
}
.short-post-fake {
    border: 1px solid transparent;
    position: relative;
    width: 601px;
    height: 270px;
    margin: 10px 7px 15px 0;
    float: left;
}
.right {
    position: absolute;
    top: 0;
    right: 0;
}
.short-post > img {
    width: 181px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
}
.short-post-content {
    text-align: left;
    width: 364px;
    height: 213px;
    margin: 28px;
    font-family: 'Comfortaa', sans-serif;
}
.short-post-title {
    font-size: 18px;
    font-weight: 900;
}
.short-post-text {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
    margin: 8px 0 8px 10px;
}