<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="styleUser.css">
</head>
<body>
    <form action="">
        <section class="section2">
            <div class="section2-content">
                <p class="title">CUSINE</p>
                <!-- loop -->
                <div style="position: relative; margin-bottom: 24px; text-align: left">
                    <!-- Đk title -->
                    <p class="subtitle">Are you hungry?</p>
                    <!--  -->
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>        
                            </div>
                            <img src="img/comga.png" alt="">
                        </div>
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>
                            </div>
                            <img src="img/caolau.png" alt="">        	
                        </div>	
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>
                            </div>
                            <img src="img/caolau.png" alt="">        	
                        </div>	
                        <div class="short-post-fake"></div>	                             
                </div>
                <div style="position: relative; margin-bottom: 24px; text-align: left">
                    <!-- Đk title -->
                    <p class="subtitle">Are you hungry?</p>
                    <!--  -->
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>        
                            </div>
                            <img src="img/comga.png" alt="">
                        </div>
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>
                            </div>
                            <img src="img/caolau.png" alt="">        	
                        </div>	
                        <div class="short-post-fake"></div>
                        <div class="short-post">
                            <div class="short-post-content">
                                <p class="short-post-title"><%= listDetails.get(i).getName() %></p>
                                <p class="short-post-text"><%= listDetails.get(i).getContent() %></p>
                                <p class="short-post-title" style="font-size: 15px;">Address:</p>
                                <p class="short-post-text" style="margin-left: 25px;"><%= listDetails.get(i).getOther() %></p>
                            </div>
                            <img src="img/caolau.png" alt="">        	
                        </div>		                             
                </div>
                <!--  -->
            </div>
        </section>
    </form>
</body>
</html>